name: CI Pipeline (Go & Docker)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test-go:
    name: Build & Test Go App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go Environment
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          cache: true

      - name: Download Dependencies
        run: go mod download

      - name: Verify Code Builds
        run: go build ./...

      # - name: Run Tests
      #   run: go test ./... -v

  build-docker-image:
    name: Build and Push Docker Image
    needs: build-and-test-go
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/diabmond/hello-devops-app:latest
            ghcr.io/diabmond/hello-devops-app:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
